extends ../layout

block content
  a(href='/usuarios') Volver

  br
  br
  br
  h1 Ingresar Usuario
  form(action='/usuarios/signup' method='post')
    .form-group
        label(for="nombre") Nombre: 
        input#nombre.form-control(type="text" name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid' : '')
        if errors.nombre
            small#nombreHelp.text-danger=errors.nombre.mensaje
        br

    .form-group
        label(for="email") E-Mail: 
        input#email.form-control(type="text" name='email' value=usuario.email class=errors.email ? 'is-invalid' : '')
        if errors.email
            small#emailHelp.text-danger=errors.email.mensaje
        br

    .form-group
        label(for="pwd") Contraseña: 
        input#pwd.form-control(type="text" name='pwd' value=usuario.pwd class=errors.pwd ? 'is-invalid' : '')
        if errors.pwd
            small#pwdHelp.text-danger=errors.pwd.mensaje
        br

    .form-group
        label(for="confirm_pwd") Confirmar contraseña: 
        input#confirm_pwd.form-control(type="text" name='confirm_pwd' value=usuario.confirm_pwd class=errors.confirm_pwd ? 'is-invalid' : '')
        if errors.confirm_pwd
            small#confirm_pwdHelp.text-danger=errors.confirm_pwd.mensaje
        br

    input.btn(type="submit" value='Ok')