extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br
  h1 Ingresar Bicicleta
  form(action='/bicicletas/create' method='post')
    label(for="id") Código: 
    input#id(type="text" name='code')
    br

    label(for="color") Color: 
    input#color(type="text" name='color')
    br

    label(for="modelo") Modelo: 
    input#modelo(type="text" name='modelo')
    br

    label(for="long") Longitud: 
    input#long(type="text" name='long')
    br

    label(for="lat") Latitud: 
    input#lat(type="text" name='lat')
    br

    input.btn(type="submit" value='Ok')