extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br

  h1 Actualizar Bicicleta
  form(action=`/bicicletas/${bici.code}/update` method='post')
    label(for="code") ID: 
    input#id(type="text" name='code' value=bici.code)
    br

    label(for="color") Color: 
    input#color(type="text" name='color' value=bici.color)
    br

    label(for="modelo") Modelo: 
    input#modelo(type="text" name='modelo' value=bici.modelo)
    br

    label(for="long") Longitud: 
    input#long(type="text" name='long' value=bici.ubicacion[1])
    br

    label(for="lat") Latitud: 
    input#lat(type="text" name='lat' value=bici.ubicacion[0])
    br

    input.btn(type="submit" value='Ok')